<h1>Welcome to the Trains page</h1>

<p>Add a train to the database:</p>

<form action='/trains/new' method="post">

  <label for="name">Train's name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Train</button>
</form>
